@import url("https://fonts.googleapis.com/css?family=Varela+Round");
@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
@import "grayscale.min.css";

a {
    color: #424d5f
}

.user-list {
    text-align: right;
}

.padding {
    text-align: right;
    padding-right: 10%;
}

.menu {
    position: fixed;
    bottom: 0;
    right: 10%;
}

.smoke-info {
    position: fixed;
    top: 5%;
    right: 5%;
}

.registration-name {
    position: absolute;
    right: 52%;
}

.registration-input {
    position: relative;
    left: 48%;
}